.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  height: 14vh;
  width:100vw;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0px;
  background-color: #f39e00;
  z-index: 1;
}
.Fill-header{
  height: 15vh;
  width:100vw;
  color: white;
}
.App-footer{
  height: 35vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f39e00;
  
}
.footer-sections{
  width:50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-links{
  flex-direction: column;
}
#footer-contact{
  flex-direction: column;
}
.reason{
  font-size: 2rem;
}

.initial-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50vw;
  margin:auto;
}
.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50vw;
  margin:auto;
}
.feature-text{
  font-size: 1.5rem;
}
.live-mockups{
  width: 50vw;
  margin:auto;
}

.header-title{
  width: 50vw;
}
.header-title a{
  font-size: 2rem;
}

.header-sections{
  width:50vw;
}

.header-text{
  margin: 1.3vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
.welcome-section{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
#trade-section{
  
}
#divider{
  height:1px;
  width: 80vw;
  background-color: #f39e00;
}
.image{
  height:70vh;
}
#reason{
  display: flex;
  flex-direction: column;
}
#questions{
  display: flex;
  flex-direction: row;
}
#questions-left{
  display: flex;
  flex-direction: column;
  width:50vw;
  height: 40vh;
}
#questions-right{
  display: flex;
  flex-direction: column;
  width:50vw;
  height: 40vh;
}
.question-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 45vw;
  height:50%;
  margin:auto;
}
.Question{
  color: black;
  font-size: 1.5rem;
  margin:1rem;
  font-weight: bold;
}
#initial{
  
}
#logo{
  height:15vh;
  width:15vh;
  border-radius: 27%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#android-realTime{
  
}
#ios-realTime{
  transform: translateX(-50px) translateY(-8px);
}
#live-section{
  
}
.feature span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 799px){
  .header-title{
    width:25vw;
  }
  .header-sections{
    width:70vw;
  }
  .Question{
    font-size: 1.2rem;
  }
  .header-title a{
    font-size: 1.6rem;
  }
  .header-text{
    font-size: 1rem;
  }
  .feature-text{
    font-size: 1.2rem;
  }
  #questions-left{
    width: 100vw;
    height: 70vh;

  }
  #questions-right{
    width: 100vw;
    height: 70vh;
  }
  #questions{
    flex-direction: column;
    height: 100%;
  }
  .question-wrapper{
    max-width: inherit;
  }
  .welcome-section{
    flex-direction: column;
  }
  .initial-wrapper{
    width:100vw;
  }
  .reason{
    font-size: 1.2rem;
  }
  .feature{
    width: 100vw;
  }
  .festure span{
    width:100vw;
  }
  .live-mockups{
    width:100vw;
  }
  .image{
    height:50vh;
  }
}

@media (max-width: 580px){
    .App-footer{
      flex-direction: column;
    }
    .footer-sections{
      width:100%;
    }
}

